
/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
/* Fin Reset CSS */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

html, body{
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
nav {
    width: 100%;
    height: 6rem;
    border-bottom: 3px solid rgb(59 130 246);
    /* display: grid; */
    justify-content: center;
    align-content: center;
}
.nav-int {
    width: 75%;
    margin: 0 auto;
    height: 6rem;
    position: relative;
}
.nav-int div {
    height: 6rem;
    padding: 0.4rem;
}
.cont-element-x2 {
    width: 50%;
    float: left;
    position: relative;
}

.logo {
    background-image: url(../img/Imagotipo-CJ.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 4.8rem;
    width: 90%;
    position: relative;
    float: left;
}
.cont-element-x2:last-child {
    padding: 1.4rem;
}
.menu {
    width: 100%;
    overflow: hidden;
}
.menu li {
    display: inline;
}

.menu li a {
    float: left;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 17px;
}
.open-menu {
    display: none;
    background-image: url(../img/toggle.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 2.5rem;
    background-size: contain;
    background-position: center;
    float: right;
    border: none;
    background-color: transparent;
}
.menu a:hover {
    color: red;
}

.content {
    width: 100%;
    position: relative;
    min-height: 500px;
    height:100%;
}
.cont-lands {
    max-width: 80%;
    height: 100%;
    /*background-color: blueviolet;*/
    min-height: 500px;
    margin: 0 auto;
}


/*
.title {
    text-align: center;
}
.title h1 {
    font-weight: bold;
    font-size: 3vw;
    line-height: 140%;
    color: white;
}
.libreria span {
    background-color: rgb(59 130 246);
}
.grafica span {
    background-color: rgb(220 38 38);
}
*/


  @media screen and (max-width: 1500px) {
    nav, .nav-int, .nav-int div, .open-menu {
        height: 4.5rem;
    }
    .menu li a {
        padding: 0.8rem;
    }
    .logo {
        max-height: 3.8rem;
    }
    .cont-element-x2:last-child {
        padding: 0.9rem;
    }
  }
  @media screen and (max-width: 1100px) {
    .logo {
        max-height: 2.8rem;
    }
    .cont-element-x2:last-child {
        padding: 0;
    }
    .open-menu {
        display: block;
    }
    .menu {display: none;}
    .responsive {position: absolute;margin-top:3.7rem;display: block;}
    .responsive li {
        width: 100%;
        display: block;
        float: left;
        padding: 10px;
        background-color: aqua;
    }   
    nav, .nav-int, .nav-int div, .open-menu {
        height: 3.7rem;
    }
    .menu li a {
        padding: 0.8rem;
    }
  }
    @media screen and (max-width: 850px) {
        .nav-int {width: 100%; padding: 0 0.2rem;}
        .open-menu {height: 3.7rem;background-size: initial;}
    }